#show_error{
	color: red;
}


.parsley-error-list li {
    padding: 0px;
    list-style: none outside none;
    color: rgb(244,107,93);
    margin-left: -40px;
}

 .parsley-error {
    box-shadow: inset 0px 0px 8px -2px rgb(244,107,93);
}


.has-error .form-control {
    border-color: #B94A48;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}